<!DOCTYPE html>
<html ng-app="seagrass">
    <head>
        <meta charset="utf-8" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">

        <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
        <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
        <link rel="stylesheet" href="css/app.css">
        <title>SeaGrass</title>

        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="lib/onsen/js/angular/angular.js"></script>
        <script type="text/javascript" src="lib/onsen/js/onsenui.js"></script>

        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/d3.min.js"></script>
    </head>
    <body>
        <ons-modal var="checkmodal">
            <i class="fa fa-check"></i>
        </ons-modal>

        <ons-modal var="errormodal" ng-controller="ErrorController">
            <i class="fa fa-warning"></i>
            <br><br>
            {{error}}
        </ons-modal>

        <ons-tabbar>
            <ons-tabbar-item page="metrics.html" label="Metrics" icon="tags" active="true"></ons-tabbar-item>
            <ons-tabbar-item page="control.html" label="Control" icon="gear"></ons-tabbar-item>
        </ons-tabbar>

        <script type="text/ons-template" id="metrics.html">
            <ons-navigator title="Navigator" var="membersNavigator">
            <ons-page style="background-color: #f9f9f9" ng-controller="MetricsController as metrics">
                <div class="button-bar width-full margined" style="width: 300px; margin: 0 auto; background-color: white">
                    <div class="button-bar__item" ng-class="{ active: metrics.isSelected(1)}">
                        <button class="button-bar__button" ng-click="metrics.chooseTab(1)">Members</button>
                    </div>
                    <div class="button-bar__item" ng-class="{ active: metrics.isSelected(2)}">
                        <button class="button-bar__button" ng-click="metrics.chooseTab(2)">Sensors</button>
                    </div>
                    <div class="button-bar__item" ng-class="{ active: metrics.isSelected(3)}">
                        <button class="button-bar__button" ng-click="metrics.chooseTab(3)">Main computer</button>
                    </div>
                </div>

                <div class="panel margined" ng-show="metrics.isSelected(1)">
                    <div ng-controller="MembersController">
                        <ons-row class="margined" style="font-size:14px;">
                            <ons-col class="left">
                            </ons-col>
                            <ons-col class="right" align="center">
                                Updated at {{lastUpdated}}
                            </ons-col>
                            <ons-col class="right" width="20%" style="horizontal-margin:8px">
                                <button ng-click="refresh()"><ons-icon icon="refresh" size="14px" spin="false"></ons-icon></button>
                            </ons-col>
                        </ons-row>

                        <div style="font-size: 12px" ng-show="members.length > 0">
                           <strong class="margined"><ons-row>
                               <ons-col></ons-col>
                               <ons-col>Pattern</ons-col>
                               <ons-col>Battery</ons-col>
                               <ons-col>HBeat</ons-col>
                               <ons-col>Lat</ons-col>
                               <ons-col>Lon</ons-col>
                           </ons-row></strong>
                            <ons-scroller>
                            <div ng-repeat="member in members | orderBy:'name'">
                                <ons-row>
                                    <ons-col><strong>{{member.name}}</strong></ons-col>
                                    <ons-col>{{member.pattern | limitTo : 3}}</ons-col>
                                    <!--<ons-col><div style="text-align: center">{{member.pattern}}</div></ons-col>-->
                                    <ons-col>{{member.battery | number : 1}}</ons-col>
                                    <ons-col>{{member.heartbeatAge}}</ons-col>
                                    <ons-col>{{member.lat | number : 3}}</ons-col>
                                    <ons-col>{{member.lon | number : 3}}</ons-col>
                                </ons-row>
                            </div>
                            </ons-scroller>
                        </div>
                        <br/>

                        <ons-list>
                            <ons-list-item modifier="chevron" ng-click="membersNavigator.pushPage('map.html', { animation : 'slide' } )">
                                <ons-row>
                                    <ons-col class="left">Show map</ons-col>
                                </ons-row>
                            </ons-list-item>
                        </ons-list>
                    </div>
                </div>

                <div class="panel margined" ng-show="metrics.isSelected(2)">
                    <div ng-controller="SensorsController">
                        <ons-row class="margined" style="font-size:14px;">
                            <ons-col class="left">
                            </ons-col>
                            <ons-col class="right" align="center">
                                Updated at {{lastUpdated}}
                            </ons-col>
                            <ons-col class="right" width="20%" style="horizontal-margin:8px">
                                <button ng-click="refresh()"><ons-icon icon="refresh" size="14px" spin="false"></ons-icon></button>
                            </ons-col>
                        </ons-row>
                        <div style="font-size: 12px" ng-show="sensors.length > 0">
                            <strong class="margined"><ons-row><ons-col></ons-col>
                                <ons-col>Threshold</ons-col>
                                <ons-col>Filter length</ons-col>
                                <ons-col>Throttle</ons-col>
                            </ons-row></strong>
                            <ons-scroller>
                            <div ng-repeat="sensor in sensors">
                                <ons-row>
                                    <ons-col><strong>{{sensor.name}}</strong></ons-col>
                                    <ons-col><div style="text-align: center">{{sensor.threshold}}</div></ons-col>
                                    <ons-col>{{sensor.filterLength}}</ons-col>
                                    <ons-col>{{sensor.throttle}}</ons-col>
                                </ons-row>
                            </div>
                            </ons-scroller>
                        </div>
                    </div>
                </div>

                <div class="panel margined" ng-show="metrics.isSelected(3)">
                    <div ng-controller="ComputerController">
                        <ons-row class="margined" style="font-size:14px;">
                            <ons-col class="left">
                            </ons-col>
                            <ons-col class="right" align="center">
                                Updated at {{lastUpdated}}
                            </ons-col>
                            <ons-col class="right" width="20%" style="horizontal-margin:8px">
                                <button ng-click="refresh()"><ons-icon icon="refresh" size="14px" spin="false"></ons-icon></button>
                            </ons-col>
                        </ons-row>
                        <div style="font-size: 12px" ng-show="entries.length > 0">
                            <ons-scroller>
                                <div><strong>CPU</strong></div>
                                <div id="cpuGraph" class="cpuGraph" style=""></div>
                                <br/>
                                <div><strong>Memory</strong></div>
                                <div id="memoryGraph" class="memoryGraph" style=""></div>
                                <br/>
                                <div><strong>Battery</strong></div>
                                <div id="batteryGraph" class="batteryGraph" style=""></div>

                                <strong class="margined"><ons-row><ons-col></ons-col>
                                    <ons-col>CPU</ons-col>
                                    <ons-col>Memory</ons-col>
                                    <ons-col>Battery</ons-col>
                                </ons-row></strong>
                                <div ng-repeat="entry in entries">
                                    <ons-row>
                                        <ons-col><strong>{{entry.time}}</strong></ons-col>
                                        <ons-col><div style="text-align: center">{{entry.cpu}}</div></ons-col>
                                        <ons-col>{{entry.memory}}</ons-col>
                                        <ons-col>{{entry.battery}}</ons-col>
                                    </ons-row>
                                </div>
                            </ons-scroller>
                        </div>
                    </div>
                </div>
            </ons-page>
            </ons-navigator>
        </script>

        <script type="text/ons-template" id="control.html">
            <ons-navigator title="Navigator" var="controlNavigator">
                    <ons-list ng-controller="ControlController">
                        <ons-list-item>
                            <ons-row class="margined">
                                <ons-col class="left">
                                    Choose backend <select ng-model="chosen_backend" ng-options="backend as backend for backend in backends" ng-change="setBackend()"></select>
                                </ons-col>
                            </ons-row>
                        </ons-list-item>
                        <ons-list-item>
                            <div class="margined">
                                <button class="button" ng-click="shutdown()">Shutdown</button>
                                <button class="button" ng-click="restart()">Restart</button>
                                <button class="button" ng-click="reboot()">Reboot</button>
                            </div>
                        </ons-list-item>
                        <ons-list-item modifier="chevron" ng-click="controlNavigator.pushPage('pat.html', { animation : 'slide' } )">
                            <ons-row class="margined">
                                <ons-col class="left">
                                    Configure pattern
                                </ons-col>
                            </ons-row>
                        </ons-list-item>
                        <ons-list-item modifier="chevron" ng-show="sensors.length > 0" style="content: '\f105'">
                            <ons-row class="margined">
                                <ons-col class="left">
                                    Configure sensor <select ng-model="chosen_sensor" ng-options="sensor as sensor for sensor in sensors"></select>
                                </ons-col>
                                <ons-col class="right" ng-click="chooseSensor(controlNavigator, 'sensor.html')">
                                </ons-col>
                            </ons-row>
                        </ons-list-item>
                    </ons-list>
            </ons-navigator>
        </script>

        <script type="text/ons-template" id="pat.html">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">Configure Pattern</div>
            </ons-toolbar>
            <ons-scroller>
            <div ng-controller="PatternController" class="margined">
                <div class="margined">
                Pattern: <select ng-model="chosen_pattern" ng-options="pattern.name for pattern in patterns | orderBy:'name'"></select>
                </div>
                <ons-list>
                    <ons-list-item>
                        Speed: <input ng-model="speed" min="{{speedMin}}" max="{{speedMax}}" type="range" class="range"> <span>{{speed}}</span>
                    </ons-list-item>
                    <ons-list-item>
                        Intensity: <input ng-model="intensity" min="{{intensityMin}}" max="{{intensityMax}}" type="range" class="range"> <span>{{intensity}}</span>
                    </ons-list-item>
                    <ons-list-item>
                        modDelay: <input ng-model="modDelay" min="{{modDelayMin}}" max="{{modDelayMax}}" type="range" class="range"> <span>{{modDelay}}</span>
                    </ons-list-item>
                    <ons-list-item>
                        Red: <input ng-model="red" min="0" max="255" type="range" class="range long-range"> <span>{{red}}</span>
                    </ons-list-item>
                    <ons-list-item>
                        Green: <input ng-model="green" min="0" max="255" type="range" class="range long-range"> <span>{{green}}</span>
                    </ons-list-item>
                    <ons-list-item>
                        Blue: <input ng-model="blue" min="0" max="255" type="range" class="range long-range"> <span>{{blue}}</span>
                    </ons-list-item>
                </ons-list>
                <button class="button" ng-click="submit()">Submit</button>
            </div>
            </ons-scroller>
        </script>

        <script type="text/ons-template" id="sensor.html">
            <div ng-controller="ChosenSensorController">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">"{{chosen_sensor}}"</div>
            </ons-toolbar>
            <div class="margined">
                <ons-list>
                    <ons-list-item ng-show="filterLength > 0">
                        Filter Length: <input ng-model="filterLength" min="1" max="255" type="range" class="range long-range"> <span>{{filterLength}}</span>
                    </ons-list-item>
                    <ons-list-item ng-show="threshold > 0">
                        Threshold: <input ng-model="threshold" min="1" max="255" type="range" class="range long-range"> <span>{{threshold}}</span>
                    </ons-list-item>
                    <ons-list-item>
                        Throttle: <input ng-model="throttle" min="0" max="1000" type="range" class="range"> <span>{{throttle}}</span>
                    </ons-list-item>
                </ons-list>
                <button class="button margined" ng-click="submit()">Submit</button>
            </div>
            </div>
        </script>

        <script type="text/ons-template" id="map.html">
            <ons-toolbar>
                <div class="left"><ons-back-button>Back</ons-back-button></div>
                <div class="center">Map</div>
            </ons-toolbar>
            <div ng-controller="MapController">
                <div id="map"  class='map margined'>
                    <!-- /the chart goes here -->
                </div>
            </div>
        </script>
   </body>
</html>
