.margined {
    margin: 8px;
}

.vertically-margined {
    vertical-margin: 8px;
}

.long-range {
    width: 210px;
}

input[type=range] {
    margin: 7px;
}

span {
    font-size: 12px;
}

/*d3 CSS for history graphs*/

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    /*stroke: lightgrey;*/
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

/* d3 CSS for map */

.chart {

}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
}

.dot-id {
    font-size: 12px;
    fill: black;
}

circle .myself {
    fill: #000000;
}